ProyectoMovil/Web References/com.somee.proyectomovil22/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ingresar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IngresarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IngresarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcategoria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaelab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaexp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="modificarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaelab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaexp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="registrarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="registrarProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarProveedorResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarProveedorResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarProveedorResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarventa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarventaResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarcompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarcompraResponse">
        <s:complexType />
      </s:element>
      <s:element name="RegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rol" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rol" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="cargarDatosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarDatosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarDatosUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IngresarSoapIn">
    <wsdl:part name="parameters" element="tns:Ingresar" />
  </wsdl:message>
  <wsdl:message name="IngresarSoapOut">
    <wsdl:part name="parameters" element="tns:IngresarResponse" />
  </wsdl:message>
  <wsdl:message name="registrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:registrarProducto" />
  </wsdl:message>
  <wsdl:message name="registrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:registrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="modificarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:modificarProducto" />
  </wsdl:message>
  <wsdl:message name="modificarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:modificarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarProducto" />
  </wsdl:message>
  <wsdl:message name="eliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="registrarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:registrarCategoria" />
  </wsdl:message>
  <wsdl:message name="registrarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:registrarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarCategoria" />
  </wsdl:message>
  <wsdl:message name="actualizarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarCategoria" />
  </wsdl:message>
  <wsdl:message name="eliminarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="registrarProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:registrarProveedor" />
  </wsdl:message>
  <wsdl:message name="registrarProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:registrarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarProveedor" />
  </wsdl:message>
  <wsdl:message name="actualizarProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarProveedor" />
  </wsdl:message>
  <wsdl:message name="eliminarProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarventaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarventa" />
  </wsdl:message>
  <wsdl:message name="eliminarventaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarventaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarcompraSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarcompra" />
  </wsdl:message>
  <wsdl:message name="eliminarcompraSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarcompraResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarCliente" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="cargarDatosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:cargarDatosUsuario" />
  </wsdl:message>
  <wsdl:message name="cargarDatosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:cargarDatosUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ingresar">
      <wsdl:input message="tns:IngresarSoapIn" />
      <wsdl:output message="tns:IngresarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarProducto">
      <wsdl:input message="tns:registrarProductoSoapIn" />
      <wsdl:output message="tns:registrarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarProducto">
      <wsdl:input message="tns:modificarProductoSoapIn" />
      <wsdl:output message="tns:modificarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <wsdl:input message="tns:eliminarProductoSoapIn" />
      <wsdl:output message="tns:eliminarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarCategoria">
      <wsdl:input message="tns:registrarCategoriaSoapIn" />
      <wsdl:output message="tns:registrarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCategoria">
      <wsdl:input message="tns:actualizarCategoriaSoapIn" />
      <wsdl:output message="tns:actualizarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCategoria">
      <wsdl:input message="tns:eliminarCategoriaSoapIn" />
      <wsdl:output message="tns:eliminarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarProveedor">
      <wsdl:input message="tns:registrarProveedorSoapIn" />
      <wsdl:output message="tns:registrarProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedor">
      <wsdl:input message="tns:actualizarProveedorSoapIn" />
      <wsdl:output message="tns:actualizarProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedor">
      <wsdl:input message="tns:eliminarProveedorSoapIn" />
      <wsdl:output message="tns:eliminarProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarventa">
      <wsdl:input message="tns:eliminarventaSoapIn" />
      <wsdl:output message="tns:eliminarventaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarcompra">
      <wsdl:input message="tns:eliminarcompraSoapIn" />
      <wsdl:output message="tns:eliminarcompraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input message="tns:RegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:RegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <wsdl:input message="tns:actualizarClienteSoapIn" />
      <wsdl:output message="tns:actualizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <wsdl:input message="tns:eliminarUsuarioSoapIn" />
      <wsdl:output message="tns:eliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosUsuario">
      <wsdl:input message="tns:cargarDatosUsuarioSoapIn" />
      <wsdl:output message="tns:cargarDatosUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingresar">
      <soap:operation soapAction="http://tempuri.org/Ingresar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarProducto">
      <soap:operation soapAction="http://tempuri.org/registrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarProducto">
      <soap:operation soapAction="http://tempuri.org/modificarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <soap:operation soapAction="http://tempuri.org/eliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCategoria">
      <soap:operation soapAction="http://tempuri.org/registrarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCategoria">
      <soap:operation soapAction="http://tempuri.org/actualizarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCategoria">
      <soap:operation soapAction="http://tempuri.org/eliminarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarProveedor">
      <soap:operation soapAction="http://tempuri.org/registrarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedor">
      <soap:operation soapAction="http://tempuri.org/actualizarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedor">
      <soap:operation soapAction="http://tempuri.org/eliminarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarventa">
      <soap:operation soapAction="http://tempuri.org/eliminarventa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarcompra">
      <soap:operation soapAction="http://tempuri.org/eliminarcompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap:operation soapAction="http://tempuri.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosUsuario">
      <soap:operation soapAction="http://tempuri.org/cargarDatosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingresar">
      <soap12:operation soapAction="http://tempuri.org/Ingresar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarProducto">
      <soap12:operation soapAction="http://tempuri.org/registrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarProducto">
      <soap12:operation soapAction="http://tempuri.org/modificarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <soap12:operation soapAction="http://tempuri.org/eliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCategoria">
      <soap12:operation soapAction="http://tempuri.org/registrarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCategoria">
      <soap12:operation soapAction="http://tempuri.org/actualizarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCategoria">
      <soap12:operation soapAction="http://tempuri.org/eliminarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarProveedor">
      <soap12:operation soapAction="http://tempuri.org/registrarProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedor">
      <soap12:operation soapAction="http://tempuri.org/actualizarProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedor">
      <soap12:operation soapAction="http://tempuri.org/eliminarProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarventa">
      <soap12:operation soapAction="http://tempuri.org/eliminarventa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarcompra">
      <soap12:operation soapAction="http://tempuri.org/eliminarcompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap12:operation soapAction="http://tempuri.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosUsuario">
      <soap12:operation soapAction="http://tempuri.org/cargarDatosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://proyectomovil22.somee.com/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://proyectomovil22.somee.com/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>